<div>

	<script type="text/ng-template" id="task-render.html">
		<div data-ng-init="temp = data.subtasks" data-ng-switch on="data.subtasks.length">
			<div data-ng-switch-when="0" class="row">
				<div class="col-xs-4">
					<div class="ag-task-name" title="{{data.name}}">
						{{data.name}}
						<span class="ag-controls">
							<i class="fa fa-plus" title="Добавить"></i>
							<i class="fa fa-minus" title="Удалить"></i>
						</span>
					</div>
				</div>
				<div class="col-xs-8">
					<div class="ag-task-box"
							 data-drop="true"
							 ng-model='parentList'
							 data-jqyoui-options="{tolerance: 'pointer', hoverClass: 'ag-task-box-drop'}"
							 jqyoui-droppable="{index: {{$index}}, onDrop: 'dropCallback(data)}'}">
						<div class="ag-task"
								 data-ng-style="{left: getLeft(data.start), width: getWidth(data.start, data.end)}"
								 data-drag="true"
								 jqyoui-draggable="{onStart: 'startCallback(data, parentList)', onStop: 'stopCallback(data)'}"
								 data-jqyoui-options="{helper: 'clone'}">
						</div>
					</div>
				</div>
			</div>

			<div data-ng-switch-default>
				<div class="row">
					<div class="col-xs-4">
						<a class="accordion-toggle clearfix" data-toggle="collapse"
							 data-parent="#accordion-categories" href="!#{{ 'collapse-category' + data.id }}">
							<div class="ag-task-name" title="{{data.name}}">
								{{data.name}}
								<span class="ag-controls pull-right">
									<i class="fa fa-plus" title="Добавить"></i>
									<i class="fa fa-minus" title="Удалить"></i>
								</span>
							</div>
						</a>
					</div>
					<div class="col-xs-8">
						<div class="ag-task-box"
								 data-drop="true"
								 data-jqyoui-options="{tolerance: 'pointer', hoverClass: 'ag-task-box-drop'}"
								 jqyoui-droppable="{index: {{$index}}, onDrop: 'dropCallback(data)}'}">
							<div class="ag-task"
									 data-ng-style="{left: getLeft(data.start), width: getWidth(data.start, data.end)}"
									 data-drag="true"
									 jqyoui-draggable="{index: {{$index}}, onStart: 'startCallback(data, parentList)', onStop: 'stopCallback(data)'}"
									 data-jqyoui-options="{helper: 'clone'}">
							</div>
						</div>
					</div>
				</div>


				<div id="{{ 'collapse-category' + data.id }}" class="accordion-body collapse in">
					<div data-ng-init="parentList = temp" ng-repeat="data in data.subtasks track by data.id | orderBy:'name'"
							 ng-include="'task-render.html'"></div>
				</div>
			</div>

		</div>
	</script>

	<div class="ag-chart-header row">
		<div class="ag-title col-xs-4">Задачи</div>
		<div class="ag-time-axis col-xs-8">
			<div class="ag-axis-tick" data-ng-repeat="tick in ticks" data-ng-style="{left: tick.offset}">{{tick.value}}</div>
		</div>
	</div>
	<div class="ag-content">
		<div data-ng-init="parentList = tasks" data-ng-repeat="data in tasks track by data.id | orderBy:'name'"
				 data-ng-include="'task-render.html'">
		</div>
	</div>
</div>