$dropHover: #EB540A;
$taskBackground: #4E9CB5;
$taskHoverBackground: #327CCB;
$taskHeight: 25px;
$headerHeight: 40px;

.ag-chart-header {
  margin-top: 25px;
  margin-bottom: 10px;
  height: $headerHeight;
  border-bottom: solid #000000 1px;
  .ag-title {
    font-size: 18px;
    text-align: center;
    letter-spacing: 1.2px;
    line-height: $headerHeight;
  }
  .ag-time-axis {
    position: relative;
    line-height: $headerHeight;
    .ag-axis-tick {
      margin-left: 15px;
      position: absolute;
      border-left: solid #000000 1px;
      padding-left: 4px;
    }
  }
}

.ag-task-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  padding-right: 60px;
  position: relative;
  &:hover {
    .ag-controls {
      visibility: visible;
    }
  }
  .ag-controls {
    color: #000000;
    position: absolute;
    right: 0;
    cursor: pointer;
    visibility: hidden;
  }
}

.ag-task-name, .ag-task-box {
  margin-top: 5px;
  line-height: $taskHeight;
}

.ag-content {

}

.ag-task-box {
  position: initial;
  overflow: hidden;
  height: $taskHeight;
  width: 100%;
  &-drop {
    outline: $dropHover dashed 2px;
  }
  .ag-task {
    height: $taskHeight;
    background-color: $taskBackground;
    cursor: pointer;
    &:hover {
      background-color: $taskHoverBackground;
    }
  }
}